<!-- Description: This partial generates the logo and is found
      It's rendered on the main Profile index.html.erb and show.html.erb pages. -->

  <div id="logo">
    <img src="/assets/LargeLogo.png" alt="Logo">      
  </div>