<!-- Description: This partial generates the "Makeup Your Mind!" logo.
      It's rendered on the main Profile index.html.erb. -->

  <div id="logo">
    <img src="/assets/LargeLogo.png" alt="Logo">      
  </div>