<!-- Source: "Devise Authentication in Depth" - https://www.sitepoint.com/devise-authentication-in-depth/
    This is the view and content for 'top_content' -->

<% content_for :top_content do %>
  <div id="indexBgImage">
    <div id="logo">
      <img src="/assets/LargeLogo2.png" alt="Logo">      
    </div>

    <div class="container">
        
      <%= render "index_about_collapsible_menu" %>
      <br><br>
      <%= render "index_search_box" %>
    </div>
  </div>
<% end %>
