<!-- Source: "Devise Authentication in Depth" - https://www.sitepoint.com/devise-authentication-in-depth/ -->
    
<!-- Description: This is the main Home page. -->

<div id="indexBgImg">
  <div id="index_form_panel">
    <br><br><br>
    <%= render "index_logo" %>
    <%= render "index_search_tool" %>
    <br>
  </div>
</div>
