/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* Source: "Devise Authentication in Depth" - https://www.sitepoint.com/devise-authentication-in-depth/
   Adding 'devise' and 'bootstrap' gems. */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import url('https://fonts.googleapis.com/css?family=Bevan');

// The @extend method is used to style Devise-specific flash messages.
.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

// To set all the headings on each page to White
header {
  color: white;
}

body {
  background: black;
}

/****************************** Application Page ******************************/
       /******************* /layouts/application.html.erb *****************/
       



/********************************* Home Page *********************************/
       /******************* /profiles/index.html.erb *****************/

/** Source: https://css-tricks.com/perfect-full-page-background-image/
      Awesome, Easy, Progressive CSS3 Way **/

.container {
  height: 100%;
  position: relative;
}

#indexBgImg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url("/assets/Background.jpg") no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#index_form_panel {
  width: 81%;
  position: relative;
  margin: 0px 0px 0px 140px;
  border-style: inset;
}

#logo {
  position: relative;
  width: 577px;
  height: 244px;
  display: block;
  color: 000000;
  font-size: 150%;
}

.searchHeading {
  text-align: center;
}

.searchBox {
  position: relative;
  max-width: 60%;
  margin: auto;
}

.button {
  position: relative;
  display: block;
  font-size: 20px;
  padding: 3px 15px;
  border: 3px groove;
  margin: auto;
}

.button:hover {
    color: #eb6969;
}

h3 {
  color: white;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

p {
  color: white;
  line-height: 200%;
  font-weight: 300;
  font-size: 1em;
}

/********************************* Search Page* ********************************/
       /******************** /profiles/index.html.erb *******************/
       
table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

/********************************** New Page* *********************************/
       /******************** /profiles/new.html.erb *******************/

#new_form_panel {
  background: white;
  width: 60%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  position: relative;
  color: #333;
  border-radius: 10px;
  left: 20%;
  top:20px;
  padding: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: #8802FF;
}


/********************************* Show Page* ********************************/
       /******************** /profiles/show.html.erb *******************/

#showPanel1 {
  background: white;
  color: black;
  float: left;
  width: 500px;
  height: 800px;
  position: relative;
  border-style: inset;
  border-style: groove;
  padding: 25px;
}

#showPanel2 {
  background: white;
  color: black;
  float: right;
  width: 500px;
  height: 800px;
  position: relative;
  border-style: groove;
  padding: 25px;
}

#avatarImg {
  width: 300px;
  height: 300px;
  position: relative;
  background: white;
  padding: 5px;
  border-style: inset;
  border-width: 10px 20px 10px 20px;
  border-color: #eb6969;
}

.pFields {
  color: black;
}

#showLinks {
  clear: left;
}

#pProfile2 {
  width: 50%;
  height: 100%;
  position: fixed;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/********************************* Edit Page* ********************************/
       /******************** /profiles/edit.html.erb *******************/

#edit_form_panel{
  background: white;
  width: 60%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  position: relative;
  color: #333;
  border-radius: 10px;
  left: 20%;
  top:20px;
  padding: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: #e6005c;
}

#button{
  background: #8802FF;
  width: 100%;
  float:center;
}


/********************************* Login Page ********************************/

#form-titles{
  text-align:center;
  position:relative;
  font-size:200%;
  font-family: 'Bevan', cursive;
}

#nice-form{
  background: white;
  width: 60%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  position: relative;
  color: black;
  border-radius: 5px;
  left: 20%;
  top:40px;
  padding: 15px;
  border-style: solid;
  border-width: 0px;
  border-color: #ff0066;
  font-family: 'Bevan', cursive;
  -webkit-box-shadow: inset 9px -12px 163px 20px rgba(48,19,48,0.57);
  -moz-box-shadow: inset 9px -12px 163px 20px rgba(48,19,48,0.57);
  box-shadow: inset 9px -12px 163px 20px rgba(48,19,48,0.57);
    border-width: 10px;
  border-color: #8802FF;
}

#button{
  background: #8802FF;
  width: 100%;
  float:center;
}
