/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* Source: "Devise Authentication in Depth" - https://www.sitepoint.com/devise-authentication-in-depth/
   Adding 'devise' and 'bootstrap' gems. */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import url(https://fonts.googleapis.com/css?family=Oswald);

// The @extend method is used to style Devise-specific flash messages.
.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

/** Source for Reset Stylesheets - http://meyerweb.com/eric/tools/css/reset/ **/

/**
************************* Reset Stylesheets ***************************

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
***/
/* HTML5 display-role reset for older browsers */
/***
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
***/

/*********Added body class & moved Oswald font to it so we don't have to change it for each class - AI*********/



body {
  background: black;
  //position: relative;
  //margin:0 auto;
  //padding-top: 10px;
  
  //left: 30%;
  //top:50px;
  //width: auto;
  //height: 34px;
  //max-width: 50%;
  //color: white
  //background-image: url("/assets/Background.jpg");
  //background-attachment: auto;
  //background-position: center center; 
  //background-repeat: no-repeat;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;

  //font-family: Oswald; //Helvetica, Arial, sans-serif;
  //font-size: small;

  //align-items: center;
  //justify-content: center;

  //display: flex;
  //border: none;
  //border-radius: 10px;
  //border-style: solid;
  //outline: none;
  //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  
  //cursor: pointer;
}
/********************************* Home Page *********************************/
/********************** The Profiles 'index.html.erb' page *******************/

/** Source: https://css-tricks.com/perfect-full-page-background-image/
      Awesome, Easy, Progressive CSS3 Way **/
#indexBgImage {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url("/assets/Background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#logo {
  position: relative;
  width: 653px;//873px;
  height: 279px;//380px;
  //float:left;
  display:block;
  color:000000;
  padding: 30px 150px;
  font-size: 150%;
}

.container {
  background-color: black;
  height: 100%;
  //margin: 0%;
  position: relative;
}

h2 {
  color: white;
  text-align: center;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

#titleLogo {
  float:center;
  display:block;
  color: white;
  text-align: center;
  text-decoration:none;
  padding: 15px 30px;
  font-size: 36px;
}

.collapsibleText {
  color: white;
  line-height: 200%;
  font-weight: 300;
  font-size: 1em; 
}

p {
  //color: white;
  line-height: 200%;
  font-weight: 300;
  font-size: 1em;
}
.button {
    // background-color: #4CAF50; /* Green */
    // border: none;
    //color: black;
    // padding: 15px 32px;
    text-align: center;
    // text-decoration: none;
    // display: inline-block;
    // font-size: 16px;
}
